.nav-img{
    @include hideText;
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true);
    background-repeat: no-repeat;
    width: 80px;
    height: 49px;
    @include mobile{
        width: 48px;
        height: 30px;
        background-size: contain;
    }
}
.social-img{
    width: 48px;
    height: 48px;
    @include pad{
        width: 24px;
        height: 24px;
    }
}