//text-align
.text{
    &-right{
        text-align: right;
    }
    &-center{
        text-align: center;
    }
    &-left{
        text-align: left;
    }
}

//font-family
.font-en{
    font-family: $font-en;
}

//font style
.fw-bold{
    font-weight: bold;
}
.fs-italic{
    font-style: italic;
}

//text color
.text{
    &-primary{
        color: $primary;
    }
    &-brown{
        color: $brown;
    }
    &-gray{
        color: $gray;
    }
    &-white{
        color: $white;
    }
    &-black{
        color: $black;
    }
    &-blacklt{
        color: $black-lt;
    }
    &-blackblog{
        color: $black-bolg
    }
}

//font size
.fz{
    &-s{
        font-size: $fz-s;
    }
    &-m{
        font-size: $fz-m;
    }
    &-l{
        font-size: $fz-l;
    }
    &-xl{
        font-size: $fz-xl;
    }

    &-1{
        font-size: $font-base;
    }
    &-2{
        font-size: $fz-2;
    }
    &-3{
        font-size: $fz-3;
    }
    &-4{
        font-size: $fz-4;
    }
    &-5{
        font-size: $fz-5;
    }
    &-6{
        font-size: $fz-6;
    }
    &-7{
        font-size: $fz-7;
    }
    &-8{
        font-size: $fz-8;
    }
    &-9{
        font-size: $fz-9;
    }
}
@include pad{
    .fz-pad{
        &-s{
            font-size: $fz-s;
        }
        &-m{
            font-size: $fz-m;
        }
        &-l{
            font-size: $fz-l;
        }

        &-1{
            font-size: $fz-1;
        }
        &-2{
            font-size: $fz-2;
        }
        &-3{
            font-size: $fz-3;
        }
        &-4{
            font-size: $fz-4;
        }
        &-5{
            font-size: $fz-5;
        }

        &-7{
            font-size: $fz-7;
        }
    }
}
@include mobile{
    .fz-cell{
        &-s{
            font-size: $fz-s;
        }
        &-1{
            font-size: $font-base;
        }
        &-2{
            font-size: $fz-2;
        }
        &-3{
            font-size: $fz-3;
        }
        &-4{
            font-size: $fz-4;
        }
        &-5{
            font-size: $fz-5;
        }
    }
}
